@model FoodDelivery.Models.ViewModels.OrderDetailsViewModel

@{
    ViewData["Title"] = "Xác Nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row px-3">
    <div class="col-8">
        <h2 class="text-info">Đơn Hàng Đã Được Xác Nhận</h2>
    </div>
    <div class="col-4 text-right">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">Đơn Hàng Mới</a>
    </div>
</div>

@if (Model.Order != null)
{
    <div style="color:maroon" class="p-3">
        Đơn hàng của bạn đã được xác nhận! Vui lòng xem tóm tắt đơn hàng bên dưới.
        <br />
        Hãy liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi nào.
    </div>
    <partial name="_IndividualOrderDetails" model="Model" />
}
else
{
    <div class="text-danger">
        Lỗi... Vui lòng thử lại.
    </div>
}

